*.idx
*.obj
*.pro.user
build*/
rpm/*
rpm
rpmbuild
debian/avr*/
rpm-qt5/*
rpm-qt5
*.list
*.desktop
*.spec
debian/.debhelper/
.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.log
debian/*.substvars