#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Utility;Network
Comment=
Exec=/opt/AvrPioRemote/AVRPioRemote -platform xcb
GenericName=AVRPioRemote
Icon=/opt/AvrPioRemote/AVRPioRemote.png
MimeType=
Name=AVRPioRemote
Path=/opt/AvrPioRemote
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
