Source: avrpioremote
Section: misc
Priority: optional
Maintainer: Ace Of Snakes <AceOfSnakesMain@gmail.com>
#Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://github.com/AceOfSnakes/AvrPioRemote

Package: avrpioremote
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: With this software you are able to control your Pioneer receiver from your PC. The software is developed for the year 2012 devices, but some features may work with older receivers. Tested with VSX-922, SC-2022 and LX-56. Update 2018: Now the new generation is supported too (like LX-701)

